.hero1{ background-color: beige;}
.montserrat-font{font-family: 'Montserrat', sans-serif;}
.opensans-font{font-family: 'Open Sans', sans-serif;}
.f400{font-weight:400;} .f500{font-weight:500;} .f600{font-weight:600;} .f700{font-weight:700; } .f800{font-weight:800;}
.fz13{font-size: 13px;} .fz32{font-size: 32px;} .fz16{font-size: 16px;} .fz22{font-size: 22px;} .fz12{font-size: 12px;} .fz18{font-size: 18px;} .fz24{font-size: 24px;} .fz9{font-size:9px} .fz44{font-size:44px} .fz20{font-size:20px} .fz15{font-size:15px} .fz14{font-size: 14px;} .fz26{font-size:26px} 
.globe_lr{padding-left: 4rem; padding-right: 4rem;}

.hero1grad {
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-image: -moz-linear-gradient( -50deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
    background-image: -webkit-linear-gradient( -50deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
    background-image: -ms-linear-gradient( -50deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
    margin-bottom: 2rem;

  }

.c-item >img{width: 30% !important;}
.c-item {width: fit-content;}


.carousel-indicators .indi {
  cursor: pointer;
  border:2px solid #cccccc;
  background-color: transparent; /* Change this to the color you want */
  border-radius: 50%; /* Make it round */
  width: 8px; /* Set the width of the round indicator */
  height: 8px; /* Set the height of the round indicator */
  margin: 0 3px; /* Adjust spacing between indicators if needed */
}
.carousel-indicators .active {
  background-color: red !important;
  border: 2px solid red !important;
}
.carousel-indicators{
  top: 18rem;
}
.img-slider{    border-width: 0px;
  border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    background-image: -moz-linear-gradient( 8deg, rgb(245,56,67) 5%, rgb(47,87,149) 80%);
    background-image: -webkit-linear-gradient( 8deg, rgb(245,56,67) 5%, rgb(47,87,149) 80%);
    background-image: -ms-linear-gradient( 8deg, rgb(245,56,67) 5%, rgb(47,87,149) 80%);
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    max-width: 175px;
    padding-top: 2rem;
    float: top;
    position: absolute;
    right: 1rem;
}
.maxwidth{width: max-content;}
.pt2rem{padding-top: 2rem;}
.slidertestimonial{border-radius: 15px 0px 15px 0px; background-color: #e1e1e1; width: 40%; padding: 10px 15px;} 

.div-playbutton{    width: max-content;
  position: relative;
  right: -43%;
bottom: 5rem;
cursor: pointer;
}
.strikethrough{
  margin-top: 1rem;
  border: 1px solid red;
    width: 20%;
    display: block;
    margin-left: 1rem;
    
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #FFF);
    border-image-slice: 1;
}
.pt1rem{padding-top:1rem}
.pb1rem{padding-bottom: 1rem;}
.lh1{line-height: 1;}
.slidersmallcolon{    width: fit-content;
  position: relative;
  left: 31%;
  top: -2rem;
}
.authornameslider{ position: relative;bottom: 2rem;}
.pb20{padding-bottom: 40px;}
.g20{gap:20px;}
.mx3rem{margin: 0rem 3rem;}
 #thirdsection{  margin-top: 20px;background-image: -moz-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);}

.pforallsec{padding: 0px 8rem !important;}
.bordersec3{border: 1px solid #c5d8f3;}
.sec3carddiv{background-color: #fff; border: 1px solid #c5d8f3; border-radius: 10px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);
  overflow-wrap: anywhere;
}
.cardspanwidth{
  width: 60%;
}
.psec3card{padding: 1rem 0px;}
/* #fourthsection{background-color:antiquewhite} */
.sectionheadpadding{padding: 1rem 0rem 1rem 0rem;}
.bgtest{background-color: #c5d8f3;}
.pt16{padding: 16px 0px;}
.pt5{padding-top: 10px;}
.displayblock{display: block;}
.pb25{padding-bottom: 25px;}
.pb35{padding-bottom: 35px;}
.pb45{padding-bottom: 45px;}
.pb20{padding-bottom: 20px;}
.pl30{padding-left: 30px;}
.pt100{padding-top: 100px;}
.pr1r{padding-right: 1rem;}
.pb100{padding-bottom: 100px;}
.pb10r{padding-bottom: 10rem;}
 .ml1r{margin-left: 1rem !important;}
 .pl1rem{padding-left: 1rem;}
/* .hero2{padding: 100px 8rem;} */
.border-slider{border:solid #c5d8f3 1px; border-radius:20px ;}
.digitalworldsec{    border: 1px solid #c5d8f3;
  border-radius: 18px;
  position: relative;
  bottom: 6rem;
  background: #fff;
  box-shadow: 0px 0px 28.8px 11.2px rgba(0, 0, 0, 0.07);
}
.secondsection{margin-top: -2rem;}
.headerpaddingbottom{padding-bottom: 4rem;}
.border-fourth-card{
  border:1px solid #c5d8f3 !important;
  border-radius: 13px !important;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);
}

.pb15px{padding-bottom: 15px;} .pb30px{padding-bottom: 30px;} .pb5px{padding-bottom:5px}
.px15px{padding: 0px;}



.global_lr{padding-right: 4rem; padding-left: 4rem;}

.abutton a{

  border-radius: 35px;
}
.abutton a div {
  margin-right: 0.5rem;
}
.free_download {
  display: flex;
  background: #099e44;
  color: #fff;
  padding: 1rem 1.5rem;
  align-items: center;
  border-radius: 5px;
  transition: all .3s;
  position: relative;
  border: solid 1px #099e44
}
.spansavesec1{line-height: 35px;}
.free_download i {
  
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  display: block;
  margin-left: 0.3rem;
  line-height: normal;
  font-style: normal;
}
.free_download:hover{
  color: #fff;
  text-decoration: none;
}

.free_download i span {
  font-size: 11px;
  font-style: normal;
  display: block;
  font-weight: 400;
}

.buy_now_btn i{
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 700;
  display: block;
  margin-left: 0.3rem;
  line-height: normal;
  font-style: normal;
}
.buy_now_btn {
  display: flex;
  background:transparent;
  color: red;
  
  padding: 1rem 1.5rem;
  align-items: center;
  border-radius: 5px;
  transition: all .3s;
  position: relative;
  border: solid 1px red;

}
.buy_now_btn:hover {
background-color: red;
color: #fff;
text-decoration: none;
}
.px8rem{
  padding: 0rem 8rem;
}
#seventhsec{padding-top: 1.5rem;
  padding-bottom: 1.5rem}
.carouselExampleIndicators{justify-content: flex-start !important; margin-left: 0 !important;}
#fifthsec{
  background-image: -moz-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,230,231) 0%, rgb(234,242,254) 100%);
}
.section1gap{
  gap: 5px;
}
.color888888{
  color: #888888;
}
.color555555{
  color:#555555;
}
.colora0a0a0{color: #a0a0a0;}
.color333333{color:#333333} .colorfff{color: #fff;}
.posrel{
  position: relative;
}
.carousel-box{
  border:solid #c5d8f3 1px; border-radius:20px ; box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);
}
/* .heroWindowImg{
  position: absolute;
  top: -12%;; */
/* } */
.navItemIndiimg{
  object-fit: contain;
  min-width: 50px;
}
.navItemIndi div:nth-child(2){padding: 0;}
.lh35px{line-height: 35px;}
.gradrecdiv{border:1px solid #c5d8f3; box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);  border-radius: 13px; position: relative; overflow: hidden; margin: 0rem 6rem};
.counterdivspanwidth{width: max-content;}
.counterdivtext{background: -webkit-linear-gradient(rgb(245,56,67) 19%, rgb(47,87,149) 76%); background-clip: text; -webkit-text-fill-color: transparent;}
  .counterdivtextsup{background: -webkit-linear-gradient(rgb(245,56,67) 19%, rgb(47,87,149) 76%); background-clip: text;
    -webkit-text-fill-color: transparent;}
.digitalworldsectioncontainer{
  border: 1px solid #c5d8f3; border-radius: 18px;
}
.navItemIndipdiv{padding: 2rem 0rem;}
.gradrectangle{
  position: absolute;
  transform: rotate(309deg);
  background-image: -webkit-linear-gradient( 300deg, #ce4e5d -8%, #675b87 41%);
  height: 500px;
  width: 450px;
  transform: rotate(315deg);
    border-radius: 40px;
    right: -17%;
    bottom: -94%
}
.navItemIndi{
  display: flex;
  width: 100%;
  color: #000;
}
.headjpgsec4{padding-bottom: 0.25rem;}
.navItemIndi div:first-child{align-items: baseline;}
.flexcentrecontent{
  display: flex;
   align-items: center;
}
nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important
}
.nav-tabs .nav-link{
  border:3px solid #c5d8f3;
  border-radius: 13px;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);
}


.navItemIndi > div{
  padding: 0rem 1em;
}
.color5f5f60{color:#5f5f60}
.pdfdiv{
  display: flex;
    justify-content: center;
    gap: 2rem;

}
.pdfdiv > div{
  padding: 2rem 0rem 2rem 0rem;
}
.nav-item {
  margin: 2.5rem 0rem;
}
/* .arrowgrad{
  z-index: 10;
  border-radius: 27px; background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 33.2px 6.8px rgba(245, 56, 67, 0.15);
padding: 5rem;
} */

.arrowgradimg{
 z-index: 10; 
  border-radius: 27px; background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 33.2px 6.8px rgba(245, 56, 67, 0.15);
padding: 3rem;
}
.tabdiv{
  padding-bottom: 4rem !important;
}
.macColor{
  color:#888888
}
.rowArrow{
  padding-top: 3rem;
  align-items: center;
}
.abuttongrad a {margin-bottom: 0.25rem;}
.alignmentDiv{
  position: relative;
  right: 10rem;
}
.rightfootgrad{
  display: flex;
  align-items: flex-start;
}

#seventhsec{
background-image: -moz-linear-gradient( 0deg, rgb(245,56,67) 19%, rgb(47,87,149) 76%);
  background-image: -webkit-linear-gradient( 0deg, rgb(245,56,67) 19%, rgb(47,87,149) 76%);
  background-image: -ms-linear-gradient( 0deg, rgb(245,56,67) 19%, rgb(47,87,149) 76%);

}
.lr_footer{
  padding-left: 8rem;
  padding-right: 8rem;
}
#eigthsec{
  padding: 1rem 8rem 1rem 8rem;
}
.counterDiv{
  padding: 1rem 0rem 5rem 0rem
}
.thirdsecContainer{
  justify-content: space-evenly;
}
.pb8r{padding-bottom: 8rem;}
.pr0{padding-right: 0px;} .pl0{padding-left: 0px;}
#eigthsec>div>span{color:#888888}
.px3rem{padding-left: 3rem; padding-right: 3rem;}
.sliderrow  h3{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 16px;
   color: #555;
}
.sliderrowDiv{padding: 1rem;}
.mbdigiworld{display: grid;}
.dmca-img{position: relative; bottom: -0.4rem;}
.heroWindowImgDiv{text-align: center;}
.nav-tabs{border-bottom: none !important;}
.macline img{margin-top: -0.3rem; margin-right: 0.3rem;}
.verticlTallLine{    padding: 0rem 1.5rem}
.spansavefifthsec {padding-bottom: 1.5rem;}
.carousel-inner{box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.14);}

@media screen and (min-width: 1700px) {
  .sec1, .thirdsecContainer{max-width: 1500px;}
   nav{max-width: 1500px !important; margin: auto !important;}
  .sliderrow, .fourseccontent, .sixsec{    max-width: 1500px; margin: auto !important; }
  #seventhsec{justify-content: space-around !important; padding-left: 0; padding-right: 0;}
  nav{padding: 0 !important;}
#eigthsec{max-width:1500px; margin: auto !important}
.div-playbutton{right: -45%;}
  
}


@media screen and (max-width: 1280px){
  .digitalworldsectioncontainer div:nth-child(2){margin-left: 1rem;}
.spansavesec1{
  font-size: 28px;
}
.section3head {font-size: 32px;}
.spaneffortsec1{
  font-size: 15px;
}
.free_download i,.buy_now_btn i{font-size: 17px;}
.spanjpgsec4{font-size: 14px;}
.tabdiv{ padding: 0;}
.spansavefifthsec{font-size: 22px;} .spantryfifthsec{font-size: 16px;}
.rowArrow{padding-right: 0rem !important;}
.gradrectangle{    right: -15%;
  bottom: -30%;    height: 300px;
  width: 349px;}
  /* .arrowgrad{padding: 3rem;} */
  #eigthsec>div>span{font-size: 12px;}
  .spanrecoversecslider{font-size: 16px;}
  .img-slider{width: 115px;}
  .divrecslide{padding-top: 1rem;}
  .spanawesome{font-size: 14px;}
  .div-playbutton{right: -47%; bottom: 4rem;}
  .arrowgradimg{padding: 2rem;}
  .spansavefifthsec{font-size: 20px;}

}
.rowArrowFirst{margin-left: 2rem;}

@media screen and (max-width: 992px) {
  .global_lr{
    padding: 0rem 1rem;
  }
  .sec1redhead{font-size: 15px;}
  .spansavesec1, .fifthsechead, .sixsechead{font-size: 22px !important; display: block; line-height: 30px;}
  
  .spaneffortsec1{font-size: 13px;}
  .free_download ,.buy_now_btn { 
    display: flex;
  justify-content: center;}
.free_download i,.buy_now_btn i{font-size: 14px;}
.buy_now_btn i span{font-size: 16px;}
.free_download, .buy_now_btn{padding: 1rem;}


  #carouselExampleIndicators{margin-bottom: 3rem;}
 .counterDiv{padding: 0rem 0rem 3rem 0rem;}
 .rowArrow{display: flex; flex-direction: column; text-align: center;}
 .rowArrowFirst{    align-items: center; margin-left: 0;}
 .lr_footer{padding-right: 1rem; padding-left: 1rem;} 
 .leftfootgradspanone{font-size: 12px; text-align: center;}
 .leftfootgradspantwo{font-size: 12px;}
 #eigthsec>div>span{font-size: 9px;}
 #eigthsec{padding: 1rem;}
 .arrowgradimg{padding: 2rem;}
.maclinearrow{align-self: baseline !important; margin-left: 1rem !important;}
.sliderrow{    flex-direction: column-reverse;
  align-items: center;}
  .img-slider{width: 160px;}
  .thirdsechead {font-size: 22px !important;}
  .macline  {font-size: 10px;}
  .spanFreeDownBtn {text-align: start;}
  .digitalworldsectioncontainer{text-align: center;}
  .div-playbutton{right: -43%;}
  .leftfootgraddiv{width: -webkit-fill-available; text-align: center;}

}

@media screen and (max-width: 767px){
  .nav-item{width: 80%; margin: 1rem auto;}
  /* nav{
    text-align: center;
  } */
  .sliderrow{
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }
  .img-slider{width: 160px;}
  .awesomefspan{font-size: 24px;}
  .spanawesome {font-size: 13px;}
  .thirdsechead{font-size: 24px;}
  .fourthsechead{font-size: 24px;}
  .tabdiv{flex-direction: column; align-items: center;}
  #myTabContent{justify-content: center; padding-left: 0;margin-top: 3rem;}
  .fifthsechead{font-size: 24px;}
  .sixsechead{font-size: 24px;}
  .rowArrow{padding-top: 2rem;}
  .spantryfifthsec{font-size: 14px;}
  .spansavefifthsec{font-size: 18px; line-height: 22px;}
  .gradrecdiv {margin: 0rem 2rem;}
  .img-awesome{flex-direction: column;}
  #seventhsec{flex-direction: column; align-items: center;}
  .leftfootgrad{flex-direction: column;}
  .verticlTallLine{display: none;}
  .pdfdiv > div{padding: 2rem 0rem;}
  /* .abuttonaf {flex-direction: column; display: -webkit-box} */
  .carousel-indicators{top: 17rem;}
  .arrowgradimg {
padding: 2rem;
.sec1redhead{font-size: 13px;}
.spansavesec1{font-size: 18px;}
.free_download i, .buy_now_btn i {font-size: 12px !important;}
}


  }
  @media screen and (max-width: 576px){
    .sixsechead{font-size: 16px !important;}
    .fifthsechead{font-size: 16px !important;}
    .thirdsechead{font-size: 16px !important;}
    .div-playbutton{right: -44%; bottom: 5rem;}
    .div-playbutton img{width: 40px;}
    .navItemIndipdiv{padding: 2rem;}
    .sliderrowDiv div{text-align: center;}
    .spanawesome{font-size: 12px;}
    .heroWindowImg{position: relative; left: 2%;}
    .abutton{margin: auto;}
    .spanabovearrow{line-height: 15px;
      display: block;}
    .tabimg{width: 60%;}
.sec3carddiv{width: 70% !important;}

    .carousel-indicators{margin-right: 0 !important;}
    .spansavefifthsec{font-size: 12px; line-height: 16px;}
    .free_download i span, .buy_now_btn i span {font-size: 10px;} .free_download i, .buy_now_btn i{font-size: 12px;}
    .fifthsechead {font-size: 18px;}
    .fourthsechead{    text-align: center;
      font-size: 18px;}
      .thirdsechead{ text-align: center; font-size: 18px;}
      .thirdsecspanhead{font-size: 14px; text-align: center;}
      .cardspanwidth{width: 100%;}
      .thirdsecspancontent{font-size: 13pxs;}
      .tab-content{margin-bottom: 2rem; text-align: center !important;}
      #myTabContent{padding-left: 0;}
      .pdfdiv > div{padding: 2rem 0rem;
        flex-direction: column;
        display: flex;
        align-items: center}
        .sixsectextpdf{text-align: center;font-size: 11px;}
        .divrecslide img:first-child{padding-bottom: 0;}
        .divrecslide span{font-size: 13px;}
  .abutton{flex-direction: column;}
  .sec1redhead{font-size: 14px;}
  .sec1{padding-bottom: 3rem;}
  .spansavesec1{font-size: 18px !important;
    line-height: 30px;}
  spaneffortsec1{font-size: 12px !important;}
  .sec1{padding-top: 2rem !important; }
.digitalworldsec{width: 85% !important;}
.digitalworldsec span:first-child{font-size: 12px; padding-top: 0.5rem;}
.digitalworldsec span:nth-child(2){font-size: 12px; padding-top: 0.5rem;}
  .nav-tabs{padding-right: 0px !important;}
  .spanjpgsec4{font-size: 12px;}
  .headjpgsec4{font-size: 14px; padding-bottom: 0.25rem;}
  .navItemIndi > div{padding: 0rem 0.5rem;}
  .fourthsechead {font-size: 16px;}
  .thirdsechead{font-size: 16px;}
  .thirdsecspanhead{font-size: 12px; width: max-content !important;}
  .thirdsecspancontent{font-size: 11px;}
  .fifthsechead{font-size: 16px;}
  .sectionheadpadding{padding: 1rem 0rem 0rem 0rem;}
  .free_download i, .buy_now_btn i{font-size: 12px;}
  .free_download i span, .buy_now_btn i span{font-size: 12px;}
  .abutton {flex-direction: row; padding-bottom: 10px;}
  .free_download, .buy_now_btn{    padding: 10px 16px}
  .macline{font-size: 8px; padding-left: 0;} 
  .sixsechead{font-size: 16px;}
  .counterdivtext{font-size: 24px;}
  .counterdivspanwidth {font-size: 9px;}
  .arrowgradimg{padding: 2rem; width: 50%;}
  .arrowgrad{padding: 2rem;}
  .tab-pane{margin-top: 2rem;}
  .awesomeimg{padding: 0; margin-bottom: 0.5rem;}
  .img-slider{width: 110px;}
  .carousel-indicators{top: 16rem;}
  .headerpaddingbottom {padding-bottom: 2rem;}
  /* .abuttonaf {flex-direction: column; width: 35% !important;}   */
  .pdfdiv > div{padding: 1rem 0rem;};
  .buy_now_btn {padding: 10px 0px  !important};
  .tabimg {width: 60% !important;}
  .abutton a div {margin-right: 0.25rem !important;}
  .down_arrow_col svg{width: 15px;}
  .spanabovearrow{font-size: 10px;}
  .carouselExampleIndicators{justify-content: center !important;}
  .leftfootgrad img:first-child{max-width: 100px;}
  .rightfootgrad img:first-child{max-width: 60px; bottom: -0.3rem;}
  .rightfootgrad img:last-child{max-width: 80px;}
  .rightfootgrad{padding-top: 0.5rem;}
  .navItemIndi{flex-direction: column; align-items: center;}
  .navItemIndi div:last-child{text-align: center;}
  .headjpgsec4{padding-top: 0.5rem;}
  .digitalworldsec{bottom: 4rem;}
  .maclinearrow{z-index: 5; width: 80%; }
  .gradrectangle{right: -8%; bottom: -38%;}
  .maclinelast{color: #fff;}
      }

      @media screen and (max-width: 320px){
        .tabdiv {padding: 0 !important;}
        digitalworldsec{bottom: 4rem;}
.digitalworldsec span:first-child{font-size: 12px; }
.digitalworldsec span:nth-child(2){font-size: 12px;}
.digitalworldsectioncontainer{padding: 0 !important;}
        .sec1redhead{font-size: 10px !important;}
        .spansavesec1{font-size: 12px !important; line-height: 20px;}
        .spaneffortsec1{font-size: 8px !important; line-height: 15px; display: block;}
     .sec1{padding-bottom: 3rem !important;}
        .sec1reviews{font-size: 8px !important;}
        .down_arrow_col svg{width: 12px;}
        .free_download i, .buy_now_btn i {font-size: 7px;}
        .free_download i span, .buy_now_btn i span {font-size: 7px;}
        .macline{font-size: 7px;}
        .awesomefspan {font-size: 16px;}
        .spanrecoversecslider{line-height: 0 !important; padding-left: 0.25rem; font-size: 9px !important;}
        .divrecslide img {padding-left: 0.25rem;}
        .divrecslide img:first-child{width: 20px;}
        /* .divrecslide img:nth-child(){width: 15px;} */
        .div-playbutton{width: 40px;}
        .divrecslide {padding-top:0;}
        .spanrecoversecslidername{font-size: 9px;     padding-left: 0.25rem;  padding-top: 0.5rem;}
        .div-playbutton{bottom: 2rem; right: -40%;}
        .strikethrough{margin-left: 0.25rem; margin-top: 0.5rem;}
        .carouselExampleIndicators{justify-content: center !important;}
        .carousel-indicators{top: 14rem !important;}
        .slidertestimonial{ font-size: 7px; padding: 6px 15px; position: relative; bottom: 0.4rem;}
        .sliderrowDiv{flex-direction: column; align-items: center !important;  text-align: center;}
        .abuttonaf {justify-content: center;     width: fit-content;
          margin: auto}
          .abuttonbottom{  width: fit-content;
            margin: auto}
        .abutton{flex-direction: column; }
        .abutton a {
          border-radius: 20px;
      }
      .free_download i, .buy_now_btn i {
        font-size: 12px;
    }
    .free_download i span, .buy_now_btn i span {
      font-size: 10px;}
      .free_download, .buy_now_btn {padding: 8px 13px;}
        .spanawesome{font-size: 11px;}
        .thirdsechead{font-size: 16px !important;}
        .sec3carddiv {width: 70% !important; padding: 0.5rem !important;}
        .thirdsecspanhead{font-size: 10px !important;}
        .thirdsecspancontent{font-size: 9px !important;}
        .tabimg{width: 60% !important;}
        .navItemIndi{flex-direction: column; align-items: center;}
        .navItemIndi div:last-child{text-align: center;}
        .headjpgsec4{font-size: 11px; padding-top: 1rem;}
        .spanjpgsec4{font-size: 8px;}
        .nav-item{width: 80%;}
        .fifthsechead, .sixsechead{font-size: 16px !important;}
        .counterdivtext{font-size: 14px !important;}
        .counterdivspanwidth{font-size: 6px !important;}
        .spantryfifthsec{font-size: 9px !important;}
        .spansavefifthsec{font-size: 10px !important;}
        .arrowgradimg{padding: 2rem; width: 80%;}
        .gradrecdiv {margin: 0 !important;}
        .arrowgrad {width: 70% !important;}
        .spanabovearrow{font-size: 9px !important; display: block;}
        .gradrectangle{bottom: -50% !important;} 
        .sixsectextpdf{font-size: 6px !important; padding-top: 0.25rem;}
        .leftfootgradspanone{font-size: 9px;}
        .leftfootgradspantwo{font-size: 8px;}
        #eigthsec>div>span{font-size: 7px; text-align: center;}
        .leftfootgrad {text-align: center;}
        .leftfootgrad img:first-child{padding-right: 0 !important; width: 80%;}
        .maclineaf{text-align: center;}
        .maclinearrow{z-index: 5; width: 80%;}
        .maclinearrow span{ color: #fff;}
      }
